footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
}

.contact-info {
    text-align: center;
    flex: 1;
}

.social-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    gap: 1em;
}

.admin-link {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.social-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 0.5em;
}

.social-links a:hover {
    text-decoration: underline;
}
