/* header.css */
header {
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 1vh 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header {
    height: 12vh;
}
.logo img {
    height: 17vh;
}
nav {
    position: relative;
}

.nav-links {
    list-style: none;
    margin: 0 100px 0 0;
    padding: 0;
    display: flex;
    gap: 2vw;
}

.nav-links li a {
    color: var(--light-color);
    text-decoration: none;
    font-size: 1.4vw;
    font-weight: bold;
}
