/* Styles pour la section de bande d'accueil */
.banner-section {
    position: relative;
    text-align: center;
    color: white;
}

.banner-image {
    width: 90%;
    height: 30VW;
    margin-top: 9vw;
    opacity: 0.7; 
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Styles pour le bandeau "PROMOTION" */
.promotion-banner {
    position: absolute;
    top: 10px;
    left: 20px;
    padding: 5px 15px;
    font-size: 1.2em;
    color: red;
    background-color: transparent;
    border: 3px solid red;
    transform: rotate(-45deg);
    transform-origin: left top;
    z-index: 1;
    margin-top: 12vw;
    display: none; /* Par défaut, il est masqué */
}

/* Affichez le bandeau promotionnel si nécessaire */
.promotion-active .promotion-banner {
    display: block;
}

h1{
    margin-top: 10vw;
}
h1, h2{
   text-shadow: 1px 1px 2px #5990A3;
}

.btn-reservation {
    background-color: var(--primary-color);
    color: white;
    margin-top: 2vw;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
}

.btn-reservation:hover {
    background-color: transparent;
    color: var(--secondary-color);
    border: 3px solid var(--primary-color);
}
h1, h2{
    color: var(--secondary-color);
}

/* Media Query pour les écrans de max 1100px */
@media screen and (max-width: 1100px) {
    .banner-image {
        width: 100%;
        height: auto;
    }

    .banner-content {
        top: 40%;
        font-size: 1em;
    }

    .btn-reservation {
        font-size: 1em;
        padding: 8px 16px;
    }
}
/* Styles pour la section de présentation */
.presentation-section {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.presentation-wrapper {
    background-color: rgba(255, 255, 255, 0.9); /* Fond blanc semi-transparent */
    padding: 20px;
    width: 87%; /* Largeur de 90% pour correspondre à la taille du bandeau */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Effet d'ombre pour détacher la div du fond */
    border-radius: 10px; /* Coins arrondis pour un effet "carton" */
}

.presentation-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentation-image {
    width: 40%;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.presentation-text {
    width: 55%;
    margin-left: 5%;
}

.presentation-text h2 {
    font-size: 2em;
    color: var(--secondary-color);
}

.presentation-text p {
    font-size: 1.1em;
    color: var(--primary-color);
    line-height: 1.6;
}
/* Styles pour la section de la galerie */
.gallery-section {
    text-align: center;
    padding: 40px 0;
}

.gallery-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: var(--secondary-color);
}

.gallery-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacement entre les images */
    flex-wrap: wrap; /* Permet aux images de passer à la ligne sur des écrans plus petits */
}

.gallery-item {
    flex: 1 1 calc(25% - 20px); /* Chaque image occupe environ 25% de la largeur avec un espace */
    max-width: calc(25% - 20px);
    position: relative;
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.gallery-item img:hover {
    transform: scale(1.05); /* Légère augmentation de l'image au survol */
}

/* Styles pour le pop-up */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup.open {
    display: flex;
}

.popup-image {
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}

/* Styles pour les boutons de navigation */
.popup-prev, .popup-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 3em;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.popup-prev {
    left: 20px;
}

.popup-next {
    right: 20px;
}

.popup-prev:hover, .popup-next:hover {
    color: rgba(255, 255, 255, 0.7);
}

/* Ajustements pour les petits écrans */
@media screen and (max-width: 768px) {
    .popup-prev, .popup-next {
        font-size: 2em;
    }

    .popup-image {
        max-width: 90%;
        max-height: 70%;
    }
}
/* Styles pour la section des témoignages */
.testimonial-section {
    width: 90%;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.testimonial-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonial-container {
    flex: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.testimonial {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.testimonial p {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
}

.testimonial h4 {
    font-size: 1.1em;
    color: var(--primary-color);
    text-align: right;
}

.testimonial-image {
    flex: 1;
    width: 50%;
    margin-left: 20px;
}

.testimonial-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
