body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1rem 0;
}

p {
    margin: 0 0 1rem 0;
}
h1{
    font-size: 5VW;
}