/* Styles pour les écrans larges */
@media (min-width: 1200px) {
    .gallery-grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
}

/* Fix for menu burger on large screens */
@media (min-width: 769px) {
    .menu-burger {
        display: none; /* Hide the menu burger */
    }
    .nav-links {
        display: flex; /* Show the navigation links */
    }
}
